ul {
  list-style-type: none;
}

.container {
  display: flex;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: left;
/*  margin-right: 1px;*/
}

button{
  height: 28px;
  width: 28px;
/*  margin-left: 1px;
  margin-bottom: 1px;
  margin-right: 1px;*/
  margin: 0px;
}

button:active{
  transform: translateY(1px);
/*  transition: opacity 0.2s ease-in-out;*/
  border: 1px solid #888;
  background-color: #efefef;
}

button:hover{
  transition: opacity 0.2s ease-in-out;
  border: 1px solid #888;
  background-color: #ddd;
}



button.big-button {
  height: 56px;
  width: 56px;
  background-image: url(../img/button_icons/big-default.png); /* 16px x 16px */
  background-color: transparent;
  background-repeat: no-repeat;  /* make the background image appear only once */
  border: 0px;           /* assuming we don't want any borders */
}

button.big-button:active {
  transform: translateY(1px);
  height: 56px;
  width: 56px;
  background-image: url(../img/button_icons/big-default.png);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0px;  
}

button.big-button:hover {
    height: 56px;
    width: 56px;
    background-image: url(../img/button_icons/big-highlighted.png);
    background-repeat: no-repeat;  /* make the background image appear only once */
    border: 0px;           /* assuming we don't want any borders */
}


button.wide-button1{
  height: 28px;
  width: 56px;
  background-image: url(../img/button_icons/widebutton1-default.png);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0px;  
}

button.wide-button1:active {
  transform: translateY(1px);
  height: 28px;
  width: 56px;
  background-image: url(../img/button_icons/widebutton1-default.png);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0px;  
}

button.wide-button1:hover {
    height: 28px;
    width: 56px;
    background-image: url(../img/button_icons/widebutton1-highlighted.png);
    background-repeat: no-repeat;  /* make the background image appear only once */
    border: 0px;           /* assuming we don't want any borders */
}


button.wide-button2{
  height: 28px;
  width: 56px;
/*  background-image: url(../img/button_icons/widebutton1-default.png);*/
/*  background-color: transparent;*/
/*  background-repeat: no-repeat;*/
/*  border: 0px;  */
}


.row-container {
  margin: 1px;
  display: flex;
  flex-direction: row;
}

.column-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*-webkit-user-select: text;*/

/*.titlebar {

}*/

/*.title-bar {
  user-select: none;
  app-region: drag;
  flex: none;
  display: flex;
  align-items: center;
  height: 1.5rem;
  margin: 0.1rem 0;
  padding: 0.2rem 0.1rem;
  background: linear-gradient(var(--secondary) 50%, transparent 50%);
  background-size: 6.6666666667% 13.3333333333%;
  background-clip: content-box;
}*/

.title {
  width: 100%;
  height: 8px;
  user-select: none;
  app-region: drag;
  text-align: center;
  font-size: 0;
  font-weight: normal;
  padding: 1px 0;
  margin: 1px 0 0 0;
  border-bottom: 1px solid #111;
  background-color: #f0f0f0;
  box-shadow: inset 1px -3px 0px -2px #a8a9b6;
}


.title:before{
  height: 4px;
  width: 40%;
  margin-right: 0;
}

.title:after{
  height: 4px;
  width: 40%;
  margin-left: 0;
}

/*.title:before {
  height: 11px;
  width: 28px;
  display: inline-block;
  content: "";
  background: url("../img/lines.png");
  background-repeat: repeat;
  margin-right: 8px;
}

.title:after {
  height: 11px;
  width: 28px;
  display: inline-block;
  content: "";
  background: url("../img/lines.png");
  background-repeat: repeat;
  margin-left: 8px;
}*/



.content {
    position: fixed;
    left: 0px;
    top: -100px;
/*    z-index: 2;
    font-size: 12px;
    font-weight: normal;*/
    width: 60px;
    height: 431px;
/*    margin: 100px auto 0;
    border: 1px solid #111;
    background: #ccc;
    box-shadow:
  1px 2px #111,
  inset 1px 1px 0px 0px #fff,
  inset -1px -1px 0px 0px #999;*/
}