.row {
  display: flex;
  flex-direction: row;
  align-items: center; 
/*  justify-content: space-between; /* Space between the blocks */*/
/*  gap: 20px;  Optional gap between blocks */
}

/*.block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


.button-container {
  display: flex;
}


#names {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    overflow: auto;
}
*/